{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="lead"><strong>MyPitchApp</strong></h1>
    <h4>'Where Word-Artists are Made'</h4>
    <h3 class="lead"><strong>In life, you only have 60 seconds to impress someone.1 minute can make or break you. MyPitchApp makes sure that you use your 1 minute to actually say something meaningful.Drop your 1 minute pitches and have people give feedback, upvote or downvote your pitch.</strong></h3>
    <h3 class="lead"><strong>Practice Makes Perfect Conversationalists!</strong></h3>
    
{% endblock %}{% extends 'base.html'%}


{% block styles%}
    {{super()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock%}
{% block content%}
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xs-1"></div>
        <div class="col-md-8 col-lg-8 col-xs-10 ">
            <ul class="list-index ">
                {% for pitch in pitches.items%}
                <li class="jumbotron " style="padding-left:40px ; list-style-type: none;">                 
                    <div class="card mb-6 bg-dark text-white">
                        <div class="card-body">
                            <h4 class="card-title" style="color:rgba(199, 130, 144, 0.911)"> Pitch Category: {{pitch.pitch_category}}~ <span></span><a href="{{url_for('main.posted',username=pitch.user.username)}}">Posted By: {{pitch.user.username}}</a></h4>
                            <p class="card-text">{{pitch.pitch}}</p>
                            <p class="card-text" style="color:rgba(216, 143, 157, 0.945)">Posted On: {{pitch.posted.strftime('%Y-%m-%d')}}~<span></span><span></span>Likes: {{pitch.upvotes}}~<span></span>Dislikes: {{pitch.downvotes}}</p>
                        </div>
                        <a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-comment" style="font-size:36px;color:rgb(212, 160, 156)" aria-hidden="true"></i></a> <span><span><a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size:36px;color:green" aria-hidden="true"></i>
                        </a></span> <span><a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-thumbs-down" style="font-size:36px;color:rgb(190, 134, 134)" aria-hidden="true"></i>
                        </a></span></span>
                    </div>              
                </li>
                <br>
                {%endfor%}
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-1"></div>
    </div>

{% endblock %}