{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="lead"><strong>MyPitchApp</strong></h1>
    <h4>'Where Word-Artists are Made'</h4>
    <h3 class="lead"><strong>In life, you only have 60 seconds to impress someone.1 minute can make or break you. MyPitchApp makes sure that you use your 1 minute to actually say something meaningful.Drop your 1 minute pitches and have people give feedback, upvote or downvote your pitch.</strong></h3>
    <h3 class="lead"><strong>Practice Makes Perfect Conversationalists!</strong></h3>
    
{% endblock %}